In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/markloessi/Python'

In [7]:
movies = pd.read_csv('/Users/markloessi/Python/P4-Movie-Ratings.csv')

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film                         559 non-null object
Genre                        559 non-null object
Rotten Tomatoes Ratings %    559 non-null int64
Audience Ratings %           559 non-null int64
Budget (million $)           559 non-null int64
Year of release              559 non-null int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [10]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [11]:
#we want to see if we can clean up column names
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [12]:
movies.columns = ['Film', 'Genre', 'CriticalRating', 'AudienceRating', 'BudgetMillions','Year']

In [13]:
movies.head()

,Film,Genre,CriticalRating,AudienceRating,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null object
Genre             559 non-null object
CriticalRating    559 non-null int64
AudienceRating    559 non-null int64
BudgetMillions    559 non-null int64
Year              559 non-null int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

#do we want to treat year as a number is a question to ask; aka will be adding, subtracting, etc... ??

In [16]:
# here's a check for what we might say about year as an integer ;)
movies.describe()
# Year is actually a Category

       CriticalRating  AudienceRating  BudgetMillions         Year
count      559.000000      559.000000      559.000000   559.000000
mean        47.309481       58.744186       50.236136  2009.152057
std         26.413091       16.826887       48.731817     1.362632
min          0.000000        0.000000        0.000000  2007.000000
25%         25.000000       47.000000       20.000000  2008.000000
50%         46.000000       58.000000       35.000000  2009.000000
75%         70.000000       72.000000       65.000000  2010.000000
max         97.000000       96.000000      300.000000  2011.000000

Let's change a few things into cateogies

In [20]:
movies.Film = movies.Film.astype('category')
movies.Genre = movies.Genre.astype('category')
movies.Year = movies.Year.astype('category')

In [22]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null category
Genre             559 non-null category
CriticalRating    559 non-null int64
AudienceRating    559 non-null int64
BudgetMillions    559 non-null int64
Year              559 non-null category
dtypes: category(3), int64(3)
memory usage: 40.3 KB

In [23]:
movies.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [24]:
movies.describe()

       CriticalRating  AudienceRating  BudgetMillions
count      559.000000      559.000000      559.000000
mean        47.309481       58.744186       50.236136
std         26.413091       16.826887       48.731817
min          0.000000        0.000000        0.000000
25%         25.000000       47.000000       20.000000
50%         46.000000       58.000000       35.000000
75%         70.000000       72.000000       65.000000
max         97.000000       96.000000      300.000000

Note: categories are no longer included since they don't make sense in these elements/descriptions